* { 
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
}

form.todo-form {
    display: flex;
    width: 30%;
    height: 200px;
    justify-content: space-evenly;
    align-items: flex-start;
    border: rgb(92, 120, 213) 1px solid;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
}

form.edit-form {
    display: flex;
    width: 60%;
    height: 200px;
    justify-content: space-evenly;
    align-items: flex-start;
    border: rgb(92, 120, 213) 1px solid;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 5px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

input {
    width: 80%;
    height: 45px;
    border: 1px gray solid;
    border-radius: 4px;
}

button {
    border: 0px;
    border-radius: 5px;
    height: 40px;
    width: 105px;
    background: rgb(16, 141, 208);
    color: white;
    box-shadow: 2px 2px 2px #888888;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background: rgb(99, 176, 217);;
}

button.delete-button {
    border: red 2px solid;
    color: red;
    background: white;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.task-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-decoration: underline;
}

.task-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 70px;
}

.button-container {
    height: 100%;
    vertical-align: text-top;
    margin-top: -15px;
}

.edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(60, 53, 53, 0.4);
}

div.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

